.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    border-top: 3px solid #1957dd;
    border-bottom: 3px solid #1957dd;
}
 
.container p {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.todo.last-todo {
    order: 2;
}

.todo__insert {
    display: flex;
    justify-content: space-between;
    padding: 0.1em;
    border-bottom: 1px solid;
    order: 3; 
}

.todo__new {
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    flex-grow: 1;
}

.todo__value {
    background: transparent;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
}

.todo:has(.todo__checkbox:checked) {
    color: #555555;
    background: #eeeeee;
    text-decoration: line-through;
    order: 1;
}
